@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
 

.nav-items{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: end;
  height: 100px;
  align-items: center;
  margin-left: 70px;
  margin-right: 70px;
}

.navigation{
  
  background: #CFA6A61C;

}

.nav-items li{
  padding-inline: 15px;
}